/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2023, 12:00:27 PM
    Author     : ASUS
*/

.top-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .2px .4px;
}

.semi-top-form{
    -fx-background-color:#efefef;
    -fx-border-color:#000;
    -fx-border-width:.2px .4px .8px .4px;
}

.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.close:hover{
    -fx-background-color:#dd4763;
}

.minimize{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.minimize:hover{
    -fx-background-color:#ddd;
}


.nav-form{
    -fx-background-color:linear-gradient(to bottom right, #1cb5e0, #000046);
}

.nav-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-font-family:"Times New Roman";
    -fx-font-size:18px;
    -fx-text-fill:#fff;
    -fx-alignment:CENTER-LEFT;
}

.nav-btn:hover{
    -fx-background-color: #000046;
}
.logout{
    -fx-background-color:#2426b7;
    -fx-background-radius:10px;
    -fx-cursor:hand;
}
.logout:hover{
    -fx-background-color:#1cb5e0;
}

.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
}

.white-bg{
    -fx-background-color:#fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,.3), 8,0,0,0);
}

.white-bg:hover{
   -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,.5), 8,0,0,0);

}

.editButton{
    
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-padding:50px 0px 0px 0px;
    
}

.card1{
    -fx-background-color:linear-gradient(to right, #2b428c, #2e58ab);
    -fx-background-radius:0px 10px 10px 0px;
}

.card1-left {
    -fx-background-color:linear-gradient(to right, #213778, #2b428c);
}

.card2 {
    -fx-background-color: linear-gradient(to right, #772d90, #a42fb8);
    -fx-background-radius:0px 10px 10px 0px;
}

.card2-left {
    -fx-background-color:linear-gradient(to right, #641f7f, #772d90);
}

.card3 {
    -fx-background-color: linear-gradient(to right, #9d2249, #cc1c5a);
    -fx-background-radius:0px 10px 10px 0px;
}

.card3-left {
    -fx-background-color:linear-gradient(to right, #891a41, #9d2249);
}

.card:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.textfield{
    -fx-background-color:transparent;
    -fx-border-color:#000;
    -fx-font-family:"Times New Roman";
    -fx-font-size:14px;
    -fx-border-radius:10px 5px 10px 5px;
    -fx-border-width:.8px;
}
.textfield:focused{
    -fx-border-color:linear-gradient(to bottom right, #753036, #3c8256);
    -fx-border-width:1.8px;
}

.date{
    -fx-background-color:transparent;
    -fx-border-color:#000;
    -fx-font-family:"Times New Roman";
    -fx-font-size:13px;
    -fx-border-width:.8px;
}
.date:focused{
    -fx-border-color:linear-gradient(to bottom right, #753036, #3c8256);
    -fx-border-width:1.8px;
}

.add-btn{
    -fx-background-color:#446093;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:16px;
    -fx-font-family:"Times New Roman";
}
.add-btn:hover{
    -fx-background-color:#5981c5;
}

.update-btn{
    -fx-background-color:#42877a;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:16px;
    -fx-font-family:"Times New Roman";
}
.update-btn:hover{
    -fx-background-color:#65bbaa;
}

.reset-btn{
    -fx-background-color:#774689;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:16px;
    -fx-font-family:"Times New Roman";
}
.reset-btn:hover{
    -fx-background-color:#9d61b5;
}

.delete-btn{
    -fx-background-color:#864251;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:16px;
    -fx-font-family:"Times New Roman";
}
.delete-btn:hover{
    -fx-background-color:#c95f6f;
}

.search{
    -fx-background-color:transparent;
    -fx-border-color:#000;
    -fx-font-family:"Times New Roman";
    -fx-font-size:16px;
    -fx-border-radius:10px 5px 10px 5px;
    -fx-border-width:.8px;
    -fx-padding:0px 0px 0px 28px;
}
.search:focused{
    -fx-border-color:linear-gradient(to bottom right, #753036, #3c8256);
    -fx-border-width:1.8px;
}

.table-view{
    -fx-border-color:linear-gradient(to bottom right, #1cb5e0, #000046);
    -fx-padding:0px;
    -fx-border-radius:8px;
    -fx-border-width:2px;
}

.table-view .table-column{
    -fx-alignment: CENTER;
}

.table-view .column-header-background{
    -fx-background-color:linear-gradient(to bottom right, #1cb5e0, #000046);
    -fx-background-insets: 0 0 0 0;
}
.table-view .column-header, .filter{
    -fx-background-color:transparent;
    -fx-size:50px;
}
.table-view .column-header .label{
    -fx-text-fill:#fff;
}

.combobox{
    -fx-background-color:transparent;
    -fx-border-color:#000;
    -fx-font-family:"Tahoma";
    -fx-font-size:13px;
    -fx-border-radius:10px 5px 10px 5px;
    -fx-border-width:.8px;
}
.combobox:focused{
    -fx-border-color:linear-gradient(to bottom right, #1cb5e0, #000046);
    -fx-border-width:1.8px;
}

.info-card{
    -fx-background-color:linear-gradient(to bottom right, #1cb5e0, #000046);
    -fx-background-radius:0px 5px 5px 0px;
}

.io-textfield{
    -fx-background-color:#fff;
    -fx-background-radius:5px;
    -fx-font-family:"Tahoma";
    -fx-font-size:13px;
}

.select-btn{
    -fx-background-color:#3e89bb;
    -fx-background-radius:10px 5px 10px 5px;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-text-fill: #fff;
}
.select-btn:hover{
    -fx-background-color:#399ad6;
}

.io-reset-btn{
    -fx-background-color:#933eb5;
    -fx-background-radius:10px 5px 10px 5px;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-text-fill: #fff;
}
.io-reset-btn:hover{
    -fx-background-color:#8a34d1;
}

.label-info{
    -fx-border-color:linear-gradient(to bottom right, #1cb5e0, #000046);
    -fx-border-radius:15px 5px 15px 5px;
    -fx-font-size:14px;
    -fx-font-family:"Tahoma";
    -fx-border-width:2px;
    -fx-padding:0px 0px 0px 10px;
}

.receipt-btn{
    -fx-background-color:#a7753f;
    -fx-background-radius:10px 5px 10px 5px;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-text-fill: #fff;
}
.receipt-btn:hover{
    -fx-background-color:#bf7f3a;
}